<!-- <pre>
    {{EventInfo |json}}
</pre> -->

<title>AB6 - {{EventInfo.name.themed}}</title>
<div class="event-wrap">
    <div class="top">
        <div class="back-wrap">
            <div class="back"  [routerLink]="[ '/events' ]" > <i class="fas fa-angle-left"></i> back</div>
        </div>
        <div class="card-wrap" >
            <div class="registration card" title="Registration Fee">
                <div class="icon">
                    <img src="assets/form.svg" alt="">
                </div>
                <div class="text">₹{{EventInfo.fees}}</div>
            </div>
            <div class="prize card" title="Prize Money, First place">
                <div class="icon">
                    <img src="assets/prize.svg" alt="">
                </div>
                <div class="text">₹{{EventInfo.prizemoney[0]}}</div>
            </div>
            <div class="particpant card" title="No of Participants">
                <div class="icon">
                    <img src="assets/user.svg" alt="">
                </div>
                <div class="text">{{EventInfo.participants}} <small>human{{EventInfo.participants>0?'s':''}}</small> </div>
            </div>
        </div>
    </div>
    <div class="main ">
        <div class="event-row wrapper logo-title">
            <div class="logo">
                <img src="{{EventInfo.icon}}" alt="">
            </div>
            <div class="event-id">
                <div class="title">{{EventInfo.name.themed}}</div>
                <div class="sub-title">{{EventInfo.name.actual}}</div>
            </div>
            <div class="cta">
                <div class="btn reg" [routerLink]="[ '/register']">Register</div>
            </div>
        </div>
        <div class="event-row wrapper event-text">
            <div class="event-heads">
                <div class="ev-head-card" *ngFor="let evHead of EventInfo.eventHeads">
                    <div class="image">
                        <img src="{{evHead.dp}}" alt="">
                    </div>
                    <div class="name">
                        {{evHead.name}}
                    </div>
                    <div class="phone">
                        <a href="tel:{{evHead.contact}}">{{evHead.contact}}</a>
                    </div>
                </div>
            </div>
            <div class="rules">
                <div class="description" [innerHTML]="EventInfo.description | safeHtml"></div>
                <div class="rules-box">
                    <div class="sub-title">Rules: </div>
                    <ul>
                        <li *ngFor="let rule of EventInfo.rules" [innerHTML]="rule | safeHtml"></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>