$white: #fff;
$secondaryDark: #16324F;
$primaryColor: #FFB20F;
$radius: 10px;
$space: 4rem;
$box_shadow: 0 3px 6px 0 rgba(0,0,0,0.16);

%btn{
    padding: 0.34em 1.1em;
    border-radius: $radius;
    cursor: pointer;
}
.wrapper{
    max-width: 1280px;
}
.color-one{
    color: $primaryColor;
}
.w300{
    font-weight: 300;
}
.w400{
    font-weight: 400;
}
.w600{
    font-weight: 600;
}
.w900{
    font-weight: 900;
}

%small_text{
    font-size: 10px;
}
%normal_text{
    font-size: 15px;
}

$title_size: 20px;
$normal_size: 15px;

input.ng-invalid.ng-dirty {
    color: #EF2F3C !important;
    border-bottom: 2px dashed #EF2F3C !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.new-event input.ng-invalid.ng-dirty{
    border: 1px dashed #EF2F3C !important;
}