@import "../variables.scss";
@import 'https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.0/css/swiper.min.css';

.sections{
    display: grid;
    // grid-template-rows: 1fr 1fr;
    overflow-y: hidden;
}

.hero,
.prize,
.events,
.people{
    min-height: 100vh;
}

$font: 'Lato', sans-serif;
$big: 'Montserrat', sans-serif;

$red: #EF2F3C;
$white: #F6F4F3;
$blue: #183059;
$dark: #183059;
$yellow: #F0A202;

#timer {
    color: $white;
    text-align: center;
    text-transform: uppercase;
    font-family: $font;
    font-size: .7em;
    letter-spacing: 5px;
    margin-top: 15%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
  }
  
  .days, .hours, .minutes, .seconds {
      display: inline-block;
      padding: 20px;
      width: 100px;
      border-radius: 5px;
    }
    .numbers {
        font-family: $big;
        color: $dark;
        font-size: 5em;
    }
  
  .days {
    background: $blue;
    .numbers{ color: $white;}
  }
  
  .hours {
    background: $white;
    color: $dark;
  }
  
  .minutes {
    background: $blue;
    .numbers{
        color: $white;
    }
  }
  
  .seconds {
    background: $yellow;
    color: $white;
  }
  
  
  .white {
    background: $white;
    .triangle {
      border-bottom: 14px solid $white;
    }
    .string {
      background: $white;
      border: 1px solid $white;
    }
  }
  
  .red {
    background: $yellow;
    .triangle {
      border-bottom: 14px solid $yellow;
    }
    .string {
      background: $yellow;
      border: 1px solid $yellow;
    }
  }
  
  .blue {
    background: $blue;
    .triangle {
      border-bottom: 14px solid $blue;
    }
    .string {
      background: $blue;
      border: 1px solid $blue;
    }
  }



.wrap{
    // padding: 0 5.46vw;
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
    // width: calc(100% - 5.46vw)
}
.hero{
    .about-btn{
        position: absolute;
        top: 30px;
        right: 40px;
        color: #fff;
        z-index: 9;
        font-size: 1.5rem;
        font-weight: 500;
        cursor: pointer;
    }
    display: grid;
    overflow-y: hidden;
    
    .left, .right{
        z-index: 2;
    }
    .left{
        grid-row: 1;
        grid-column: 1 / 3;
        display: grid;
        place-content: center;
        grid-gap: 5rem;
        .logo{
            text-align: center; 
            img, svg{
                height: 30vh;
            }
            .tagline {
                font-size: 2rem;
                color: $white;
                text-transform: uppercase;
                padding-bottom: 20px;
                border-bottom:2px solid $white;
                width: max-content;
                margin: $space auto auto;
            }
        }
        .ctas{
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 1.5rem;
            .btn{
                @extend %btn;
                display: block;
                text-transform: uppercase;
                border: 2px solid $white;
                font-size: 2rem;
                font-weight: 500;
                text-align: center;
            }
            .register{
                background: $white;
            }
            .events-btn{
                color: $white;
            }
        }
    }
    .right{
        grid-row: 1;
        grid-column: 2 / 3;
    }
    
    .bg{
        grid-row: 1;
        grid-column: 1 / 3;
        overflow: hidden;
        text-align: right;
        background:  rgba(0, 0, 0, 0.71) url("/assets/bg.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-blend-mode: luminosity;
        transform: translateY(-30px) translateZ(-5px) scale(1.25);
        width: 80%;
        margin: 0 auto;
        img, svg{
            // width: 100%;
            object-fit: cover;
            height: 100%;
        }
        z-index: 1;
    }

    .particle-wrap{
        z-index: 1;
        grid-row: 1;
        grid-column: 1 / 3;
        max-width: 100%;
        canvas{
            padding: 0;
            display: block;
            
        }
        .particle{
            // height: 100%;
            // width: 100%;
            margin: inherit
        }
    }
}




.prize{
    display: grid;
    width: 100%;
    .left, .right{
        z-index: 2;
        grid-row: 1;
    }
    .left{
        grid-column: 1 / 2;
        display: grid;
        place-content: center;
        .title{
            font-size: 3rem;
            margin-bottom: $space;
            span{
                display: block;
            }
            .color-one{
                &::after {
                    display: block;
                    width: 50%;
                    height: 4px;
                    background: #1061a0;
                    content: '';
                    margin-top: 10px;
                    margin-left: 5px;
                }
            }
        }
    }

    .right{
        grid-column: 2 / 3;
        
        display: grid;
        place-content: center;
        
        img {
            width: 70%;
        }
    }

    .bg{
        grid-row: 1;
        grid-column: 1 / 3;
        overflow: hidden;
        align-self: flex-end;
        img, svg{
            height: 100%;
            width: 100%;
        }
    }
}

.events{
    min-height: 100vh;
    display: grid;
    align-items: center;
    
    background: #1061a0;
    .title {
        font-size: 50px;
        font-weight: 600;
        color: $yellow;
        margin-bottom: 40px;
        span {
            display: block;
            color: #fff;
            line-height: 0.6;
        }
    }     
    .event-wrap{
        position: relative;        
        overflow: hidden;
        .swiper-container{
            overflow: visible;
        }
    }
    .swiper-button-next,
    .swiper-button-prev{
        background: $yellow;
        border-radius: 100%;
        height: 50px;
        width: 50px;
        right: 0;
        img{
            filter: invert(1);
        }
        
    }
    .swiper-wrapper {
        display: grid;
        grid-auto-flow: column;

        
        
    }
    .swiper-button-prev img, .swiper-button-next img {
        height: 100%;
        width: 100%;
    }
    .swiper-button-prev{
        transform: rotate(180deg);
        left: 0;
    }
    .event-card {
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        margin: 10px;
        padding: 10px;
        width: calc(100% - 40px);
        text-align: center;
        overflow: hidden;
        height: calc(100% - 40px);
        cursor: pointer;
        background: #fff;
        min-height: 330px;
        display: grid;
        align-items: center;
        justify-content: center;
    
        cursor: pointer;
        .learn {            
            margin-top: 10px;
            color: $primaryColor;
            font-weight: 600;
            transform: translateY(40px);
            transition: ease 0.2s;
        }
        .img{
            width: 150px;
            margin: auto;
            img {
                border-radius: 100%;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        h1 {
            font-size: 30px;
            font-weight: 900;
        }
        h3 {
           font-size: 15px;
           text-transform: uppercase;
           font-weight: 500;
       }
    }
    .event-card:hover .learn {
        transform: translateY(0);
    }
    
    
    
}


.people{
    width: 100%;
    display: grid;
    .title {
       
        background: rgba(4, 33, 80, 0.76);
        grid-column: 1 / 2;
        grid-row: 1;
        font-size: 50px;
        font-weight: 600;
        color: #FFB20F;
        padding: 80px;
        margin: 0;
        z-index: 88;
        font-size: 5rem;
        width: calc(100% - 160px);
        height: 100%;

        span {
            display: block;
            color: $white;
            line-height: 0.6;
        }
    }  
    .people-wrap{
        z-index: 2;
        grid-column: 1 / 2;
        grid-row: 1;
        position: relative;
        height: 100%;
        overflow: hidden;
        width: 100%;
        .person{
            position: absolute;
            background: $blue;
            border-radius: 100%;
            transition: transform ease 0.5s;        
            overflow: hidden;
            transform: scale(0);
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            
        }
        .person.active{
            transform: scale(1);
        }
    }
}


footer{
    .ablogo-invert,
    .ritlogo-invert{
        filter: invert(0.8);
    }
    .top{
        background: $primaryColor;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px;
        .college-logo{
            
            img{
                width: 50%;
            }
        }
        .ab-logo {
            
            text-align: center;
            
                img {
                    height: 25%;
                    width: 25%;
                }
            
        }
        .links {
            text-align: right;
            font-size: 1.4em;
            color: $secondaryDark;
            a{
                color: $secondaryDark;
                text-decoration: none;
            }
        }
    }


    .strip{
        background: $secondaryDark;
        padding: 20px;
        display: grid;
        grid-template-columns: auto auto;
        font-size: 1.4rem;
        color: #fff;
        .credit{
            img{
                height: 15px;
                animation: beat .8s infinite alternate;
	            transform-origin: center;
            }
        }
        .rights{
            text-align: right;
        }
    }
}




@media (max-width: 768px){
    .wrap{
        max-width: 100vw;
    }

    .sections{
        .bg{
            grid-column: 1 / 2;
        }
        max-width: 100vw;;
        .section{
            .left{
                grid-row: 1;
                grid-column: 1;
            }
            .right{
                grid-row: 2;
                grid-column: 1;
            }
            
        }
        .hero{
            .about-btn{
                top: 20px;
                right: 20px;
                font-size: 1.2rem;                
            }
            padding: 50px 0;
            #timer{
                grid-template-columns: auto auto;
                padding: 0 25px;
                width: calc(100% - 50px);
            }
            .left{
                .logo{
                    img{
                        height: 25vh;
                    }
                }
                .ctas{
                    grid-template-columns: 1fr;                    
                    .btn{
                        font-size: 1.2rem;
                        padding: 15px 0;
                        margin: auto;
                        width: 100%;
                    }
                }
            }
            .particle-wrap{
                grid-column: 1 / 2;
                // grid-row: 1 / 4
            }
            #particles-js {
                height: 100%;
            }
        }
        .prize{
            grid-gap: 20px;
            .left{
                grid-row: 2;
                .title{
                    font-size: 1.8rem;
                    margin-bottom: 0;
                }
                align-self: flex-start;
            }
            .right{
                align-self: end;
                justify-self: center;
                grid-row: 1;
                img{
                    height: 180px;
                    margin: auto;
                }
            }
        }

        .events{
            .title{
                font-size: 2rem;
                margin-left: 20px;
            }
            .swiper-button-next, 
            .swiper-button-prev{
                display: none;
            }
            .event-card{                
                width: calc(100% - 20px);
                margin: 0;
            
                .learn {
                    transform: translateY(0);
                }
            }
        }
        .people{
            .title{
                font-size: 2rem;
                // margin-left: 20px;
                text-align: center;
                span{
                    line-height: 1.2;
                }
                
                
            }
        }
       
      

    }
    footer{

        .top{
            grid-template-columns: auto auto;
            grid-gap: 20px;
            padding: 20px;
            .college-logo{            
                img{
                    width: 200px;
                }
            }
            .ab-logo {                      
                    img {
                        width: 100%;
                    }
                
            }
            
            .links{
                grid-column: 1 / 3;
                text-align: center;                
                font-size: 0.9rem;
                
            }
        }
        .strip{
            grid-gap: 20px;
            align-items: center;
            .credit,
            .rights{
                font-size: 0.8rem;
            }
        }
    }
    .days, .hours, .minutes, .seconds{
        width: auto;
    }
    

}


@keyframes beat {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    40% {
      transform: scale(1);
    }
    60% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
// @keyframes beat{
// 	to { transform: scale(1.4); }
// }

// @keyframes beat {
//     to {
//        -webkit-transform: scale(1.4);
//           -moz-transform: scale(1.4);
//           -o-transform: scale(1.4);
//           -ms-transform: scale(1.4);
//           transform: scale(1.4);
//     }
   
//    }
   
//    @-moz-keyframes beat {
//     to {
//       -moz-transform: scale(1.4);
//       transform: scale(1.4);
//     }
   
//    }
   
//    @-webkit-keyframes beat{
//     to {
//       -webkit-transform: scale(1.4);
//       transform: scale(1.4);
//     }
   
//    }
   
//    @-ms-keyframes beat{
//     to {
//       -ms-transform: scale(1.4);
//       transform: scale(1.4);
//     }
   
//    }
   
//    @-o-keyframes beat{
//     to {
//       -o-transform: scale(1.4);
//       transform: scale(1.4);
//     }
   
//    }