@import '../variables.scss';

.about-wrap {

    .top {
        position: relative;
        .back, .register {
            color: #fff;
            font-weight: 900;
            font-size: 1.2rem;
            width: max-content;
            margin: 0;
            padding: 10px 15px;
            box-shadow: $box_shadow;
            border-radius: 10px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            cursor: pointer;
        }
        .register{
            right: 20px;
            background: $secondaryDark;
            left: unset;
        }
        h1 {
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 5px;
            align-items: center;
            justify-content: center;
            grid-gap: 25px;
            font-size: 2rem;
            text-align: center;
            font-weight: 500;
            padding: 20px 0;
            i{
                color: #fff;
            }
        }
        background: $primaryColor;
    }


    .main {
        background: $white;
        color: $secondaryDark;
        min-height: 80vh;
        margin: 50px auto;
        .text-title{
            font-size: 3rem;
            font-weight: 800;
            line-height: 1.5;
        }
        .sub-title{
            font-size: 1.4rem;
            font-weight: 800;
            margin-top: 25px;
        }
        p{
            font-size: 1.3rem;
            letter-spacing: 1px;            
        }
        .cards-wrap{
            display: grid;
            margin: 10px auto;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 50px;
            justify-content: space-evenly;
            .card{
                display: grid;
                justify-content: left;
                box-shadow: $box_shadow;
                grid-gap: 50px;   
                border-radius: 50px;  
                padding: 10px;
                grid-template-columns: auto auto;                           
                transition: ease 0.3s;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                .read{
                    display: none;                    
                }
                .title {
                    font-size: 1.3rem;
                    font-weight: 600;
                }
                i{
                    font-size: 5rem;
                }
            }
        }

    }

}



@media (max-width: 768px) {

    .about-wrap {
        .text-title{
            margin-top: 50px;
        }
        p{
            font-size: 1.2rem;
        }
        .top {
            position: relative;
            .back, .register {                
                padding: 5px 8px;
                font-size: 1rem;
                top: 50%;
                transform: translateY(-50%);
            }
            .register{
                right: 10px;
            }
            h1{
                font-size: 1.4rem;
                grid-gap: 5px;
            }
        }

        .main {
            margin: 0 20px;
            .cards-wrap {
                grid-template-columns: auto;
                grid-gap: 10px;
                padding: 10px;
                justify-content: unset;
                .card{
                    justify-content: left;
                    grid-gap: 10px;
                    padding: 10px 20px;
                    i{
                        font-size: 3rem;
                    }
                    .read{                        
                        display: initial;
                        font-size: 0.8rem;
                        font-weight: 600;
                        margin-top: 10px;
                    }
                }
            }
         
        }

        .event-text {
            grid-template-columns: auto;            
            .event-heads {
                grid-row: 2;
                .ev-head-card{
                    width: calc(100% - 100px);
                    margin: auto;
                }
            }

            .rules {
                margin-left: 20px;
                grid-row: 1;
                font-size: 1.7rem;
                font-weight: 600;
            }
        }

    }



}