@import "../variables.scss";

.logout {
    justify-content: right;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 5px;
    align-items: center;
    font-weight: 500;
    line-height: 1.2;
    background: $primaryColor;
    width: max-content;
    margin-left: auto;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}
.event-form{
    display: grid;
    .page-title{
        text-align: center;
        margin: 40px;
        font-size: 25px;
        font-weight: 500;
    }
    .two-col{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
    form{
        display: grid;
    }
    .section {        
        display: grid;
        grid-gap: 20px;
        padding: 20px;
        margin: 10px;
        box-shadow: $box_shadow;
        border-radius: 10px;
        overflow: hidden;
        height: max-content;
        .title{
            color: $primaryColor;
            font-size: $title_size;
            font-weight: 500;
        }
        .split{
            display: grid;
            grid-template-columns: auto auto;
            .del{
                justify-self: right;
                cursor: pointer;
            }
        }
        .sub-title{
            color: #fff;
            font-size: $normal_size;
            font-weight: 600;
        }
        input{
            background: transparent;
            border: none;
            border-bottom: 1px solid #fff;
            color: #fff;
        }
        label, .iterator-input{
            display: grid;
        }
        label{
            grid-gap: 5px;
        }
        .iterator-input{
            display: grid;
            grid-auto-flow: column;
            grid-gap: 10px;
            justify-content: left;
            max-width: 100%;
            overflow-x: scroll;
            margin-bottom: -35px;
            padding-bottom: 35px;
            padding-right: 35px;
            margin-right: -35px;
            .add {
                display: grid;
                place-content: center;
                min-width: 220px;
                color: #007dff;
                border: 2px dashed ;
                border-radius: 5px;
                cursor: pointer;
            }
            .round, .eventhead{
                padding: 10px;
                display: grid;
                grid-gap: 5px;
                background: #007dff;
                border-radius: $radius/2;
                color: #fff;
                width: calc(100% - 20px);
            }
        }
        
    }
    .general{
        color: #007dff;
        input{
            color: #007dff;
            border-bottom: 1px solid;
            width: 50%;
        }
        .sub-title{
            color: #007dff;
        }
        .prize {
            border: 1px solid;
            padding: 10px;
            border-radius: 5px;
        }
        textarea {
            width: 100%;
            border: none;
            border-bottom: 2px solid #007dff;
            height: 70px;
            font-family: Montserrat;
        }
    }
    .rules{
         .iterator-input {
            grid-auto-flow: row ;
            justify-content: unset;
            .add{
                width: max-content;
                padding: 10px;
                justify-self: left;
            }
         }
         .rule {
            background: #007dff;
            color: #fff;
            display: grid;
            border-radius: $radius/2;
            padding: $radius;
            grid-template-columns: 1fr auto;
            input{
                width: 100%;
            }
        }
    }
    .btn{
        @extend %btn;
        background: #007dff;
        color: #fff;
        border: none;
        font-size: $title_size;
        padding: 10px 40px;
        width: max-content;
        margin: auto;
    }
    .btn[disabled]{
        filter: contrast(0.1);
        cursor: unset;
    }
}

@media (max-width: 760px){
    .event-form{
        .two-col{        
            grid-template-columns: 1fr;
        }
        .section{
            
            .iterator-input{
                padding-right: 0;
                margin-right: 5px;
                
            }
        }
        .general {
            input{
                width: 100%;
            }
            .iterator-input{
                .prize{
                    min-width: 120px;
                }
                .add{
                    min-width: 100px;
                }
            }
        }
    }
}



.round-form{
    .section{
        .iterator-input{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-auto-flow: unset;
            grid-gap: 10px;
            justify-content: left;
            max-width: 100%;
            overflow: unset;
            padding: 0;
            margin: 0;
            input{
                width: auto;
            }
            .add{
                min-height: 150px;
            }
    
        }
    }
}


.participants.wrapper{
    margin: 50px auto;
}
[hidden]{
    display: none !important;
}
.disq{
    padding: 5px 10px;
    background: #030303;
    justify-self: right;
    border-radius: 20px;
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    grid-template-columns: auto auto;
    text-align: center;
    grid-gap: 10px;
    color: #fff;
    font-weight: 900;

}
h1{
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: 500;
}
.parti-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: $radius;
    .parti{
        padding: 30px 15px;
        cursor: pointer;
        background: $primaryColor;
        border-radius: $radius;
        display: grid;
        grid-gap: 15px;
        .score{
            justify-self: center;
            font-size: 1.3rem;
            font-weight: 500;
        }
        
    }
}
.disqualified{
  
    margin-top: 50px;
    .parti{        
        opacity: 0.5;
        cursor: unset;
    }
}


@media (max-width: 760px){
    .parti-wrap{
        grid-template-columns:  1fr;

    }
}



.notification{
    form {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
        textarea, input, select, button{
            width: calc(100% - 30px);
            padding: 15px;
            border-radius: 5px;
            font-size: 1.4rem;
            font-family: Montserrat;
        }
        button {
            background: #007dff;
            color: #fff;
            border: none;
            cursor: pointer;
        }
        textarea{
            height: 150px;
        }
        .split {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }
    }

    /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
}







.myNotif{

%reset {
    margin: 0;
    padding: 0;
}
*{
    box-sizing: unset;
}

%flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin animated($timein: null, $delay: null) {
    transition: all $timein ease-in-out;
    transition-delay: $delay;
}

@mixin dimensions($width: null, $height: null) {
    width: $width;
    min-height: $height;
}

// $primaryColor: $primaryColor;
html {
    height: 100%;
}

body {

    @extend %flex;    
    width: 100%;
    min-height: 100%;
    background: $primaryColor;
    font-size: 16px;
    overflow: hidden;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

.content {
    position: relative;
    animation: animatop 0.9s cubic-bezier(0.425, 1.140, 0.470, 1.125) forwards;
}

.card {
    // @include dimensions(500px, 100px);
    min-height: 100px;

    padding: 15px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;

    &:after {
        content: '';
        display: block;
        width: 190px;
        height: 350px;
        background: $primaryColor;

        position: absolute;
        animation: rotatemagic 0.75s cubic-bezier(0.425, 1.040, 0.470, 1.105) 1s both;
    }
}

.badgescard {
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #ECECEC;
    width: 480px;
    
    
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: -1;
    left: 10px;
    bottom: 10px;
    @extend %flex;
    animation: animainfos 0.5s cubic-bezier(0.425, 1.040, 0.470, 1.105) 0.75s forwards;

    span {
        font-size: 1.6em;
        margin: 0px 6px;
        opacity: 0.6;
    }
}

.firstinfo {
    display: grid;
    grid-template-columns:  auto 1fr;   
    z-index: 2;
    position: relative;
    grid-gap: 10px;
    img {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }

    
    

    h1 {
        margin: 0;
        padding: 0;
        font-size: 1.2em;
        grid-column: 2 / 3;
        grid-row: 1;
        align-self: end;
    }

    h3 {
        font-size: 0.8em;
        color: $primaryColor;
        font-style: italic;
        font-weight: 900;
        grid-row: 2;
    }

    div.bio {
        padding: 10px 0px;
        color: #5A5A5A;
        line-height: 1.2;
        font-style: initial;
        grid-row: 3;
        grid-column: 1 / 3;
        font-weight: 600;
        background: #fff;
        margin: 0 -15px;
        margin-bottom: -15px;
        padding: 15px;
        border-radius: 0 0 4px 4px;
    }
    
}


@keyframes animatop {
    0% {
        opacity: 0;
        bottom: -500px;
    }

    100% {
        opacity: 1;
        bottom: 0px;
    }
}

@keyframes animainfos {
    0% {
        bottom: 10px;
    }

    100% {
        bottom: -42px;
    }
}

@keyframes rotatemagic {
    0% {
        opacity: 0;
        transform: rotate(-0deg);
        top: -24px;
        left: -253px;
    }

    100% {

        transform: rotate(-30deg);
        top: -24px;
        left: -78px;
    }
}




.cards-wrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    grid-row-gap: 60px;
    margin: 50px auto;
}


@media (max-width: 768px){
    .cards-wrap{
        grid-template-columns: 1fr;
        margin: 50px 10px;
        .badgescard{
            width: calc(100% - 20px);
        }
    }
    .firstinfo{
        img{
            width: 60px;
            height: 60px;
        }
    }
}


.rel-wrap{
    position: relative;
}
}



