<div class="team-wrap">
   
    <div class="wrapper" *ngIf="!id">
            <!-- <div class="back" [routerLink]="[ '/teams' ]"><i class="fas fa-angle-left"></i>  back</div> -->
            <div class="logout-btn">
                <div class="logout" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout</div>
            </div>

            <div class="input-wrap">
                <input type="text" (input)="search()" [(ngModel)]="query" name="search" placeholder="Search">
            </div>
        <div class="team-all">
            <div class="team-card" [routerLink]="[ '/teams/', participant.reg_uid ]" *ngFor="let participant of (teams)" [hidden]="!participant.checkin && userType=='certificate'">
                

                <div class="team-college">{{participant.college}}</div>
                <div class="team-id">
                    <span class="fa-stack">
                        <i class="fas fa-circle fa-stack-2x"></i>                    
                        <i class="fas fa-hashtag fa-stack-1x fa-inverse"></i>
                    </span>
                    {{participant.reg_uid}}
                </div>  
                
                <div class="team-id" *ngIf="participant.teamcode">
                    <span class="fa-stack">
                        <i class="fas fa-circle fa-stack-2x"></i>                    
                        <i class="fas fa-chess-queen fa-stack-1x fa-inverse"></i>
                    </span>
                    {{participant.teamcode}}
                </div>                 


                <div class="team-size">
                    <span class="fa-stack">
                        <i class="fas fa-circle fa-stack-2x"></i>                    
                        <i class="fas fa-users fa-stack-1x fa-inverse"></i>                            
                    </span>                
                    {{team_member_count[participant.reg_uid]}}
                </div>
                <div class="team-email">
                    <div class="team-mail">
                            <span class="fa-stack">
                                    <i class="fas fa-circle fa-stack-2x"></i>                    
                                    <i class="fas fa-inbox fa-stack-1x fa-inverse"></i>                            
                                </span>                                        
                        {{participant.email}}
                    </div>
                </div>
                <div class="footer status">
                    <span class="fa-stack">
                        <i class="fas fa-circle fa-stack-2x"></i>                    
                        <i class="fas fa-user-alt-slash fa-stack-1x fa-inverse" [ngClass]="{'fa-user-check': checkin_all[participant.reg_uid]}"></i>                            
                    </span>                            
                </div>
                
                
            </div>
        </div>
    </div>

    <div class="wrapper" *ngIf="id">
            <div class="back" [routerLink]="[ '/teams' ]"><i class="fas fa-angle-left"></i>  back</div>
            <div class="header">
                <div class="college"> <i class="fas fa-university"></i> {{members[0].college}}</div>
                <div class="team-email">
                    <div class="team-mail">
                        {{members[0].email}}
                            <span class="fa-stack">
                                <i class="fas fa-circle fa-stack-2x"></i>                    
                                <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>                                                               
                            </span>                                        
                    </div>
                </div>
            </div>
            <div class="teamcode">
                <label for="" *ngIf="!members[0].teamcode && userType=='reception'">
                    <div>Select Team Code</div>
                    <select name="teamCode" [(ngModel)]="teamCode" value="Select Teamcode">                        
                        <option value="{{c.code}}" *ngFor="let c of festvars.teamcodes"  [disabled]="c.used">{{c.code}}</option>
                    </select>
                </label>
                <div class="title">Team: <span>{{members[0].teamcode}}</span></div>
            </div>
            <div class="team-one">
                <div class="team-card" *ngFor="let participant of members, let i = index">
                
                    <div class="icon">
                        <img src="{{participant.icon}}" alt="">
                    </div>                
                    <div class="team-id">
                        <span class="fa-stack">
                            <i class="fas fa-circle fa-stack-2x"></i>                    
                            <i class="fas fa-heart fa-stack-1x fa-inverse"></i>                        
                        </span>
                        {{participant.event}}
                    </div>     
                    
                    <div class="team-id" *ngIf="userType=='certificate'">
                        <span class="fa-stack">
                            <i class="fas fa-circle fa-stack-2x"></i>                    
                            <i class="fas fa-trophy fa-stack-1x fa-inverse"></i>                        
                        </span>
                        {{participant.total}}
                    </div>     
                    
                    
                    <div class="team-member" *ngFor="let name of participant.names, let j = index">
                        <span class="fa-stack">
                            <i class="fas fa-circle fa-stack-2x"></i>                    
                            <i class="fas fa-user fa-stack-1x fa-inverse"></i>                            
                        </span>
                        <input type="text" (change)="showSave(participant._id)" name="{{participant._id+''+j}}" [(ngModel)]="members[i].names[j].name" class="name" value="{{members[i].names[j].name}}" *ngIf="canEdit">       
                        <span *ngIf="!canEdit" class="team-member-name">{{name.name}}</span>                 
                    </div>

                    <div class="team-phone">
                        <div class="team-mail">
                                <span class="fa-stack">
                                        <i class="fas fa-circle fa-stack-2x"></i>                    
                                        <i class="fas fa-phone fa-stack-1x fa-inverse"></i>                            
                                    </span>                                        
                            {{participant.contact}}
                        </div>
                    </div>
                    <div class="footer status">
                        <span class="fa-stack">
                            <i class="fas fa-circle fa-stack-2x"></i>                    
                            <i class="fas fa-user-alt-slash fa-stack-1x fa-inverse" [ngClass]="{'fa-user-check': participant.checkin}"></i>                            
                        </span>  
                        <span class="fa-stack" *ngIf="save[participant._id]" (click)="updateParticipant(participant._id, {names: members[i].names})">
                            <i class="fas fa-circle fa-stack-2x"></i>                    
                            <i class="fas fa-check fa-stack-1x fa-inverse"></i>                            
                        </span>        
                        
                        <span class="fa-stack"  *ngIf="!participant.checkin && canEdit" (click)="checkinParticipant(participant._id)">
                            <i class="fas fa-circle fa-stack-2x"></i>                    
                            <i class="fas fa-sign-in-alt fa-stack-1x fa-inverse" ></i>                            
                        </span>  
                        
                        
                    </div>
                    
                    
                </div>
            </div>
            <div class="btn" *ngIf="canEdit" (click)="checkinAll()">Check-in All <i class="fas fa-sign-in-alt"></i></div>
    </div>

</div>